/* box model: es la forma en que css ve a los elementos html
los ve como si fueran cajas

margin: pos el margen wey xd,
border: lo que delimita cada uno de los elementos html
padding: el relleno,son las distancias internas la distancia del borde al contenido
contenido: contenido del elemento html

dentro delmodelo de caja hay que considerar que una caja tiene 4 lados:
1: arriba (top)
2: derecha (right)
3: abajo (bottom)
4: izquierda (left)

*/

body {
    margin: 0px;
}

h1 {
    width: 400px;
    height: 200px;
    border-width: 3px;
    border-style: groove;
    border-color: chartreuse;
    border: chartreuse 2px dashed;

}

.box-1, 
.box-2 {
    background-color: chocolate;
    border: medium solid #454545;
    padding: 10px;
    margin: 20px 0px;
}

/* in block vs in line */

.caja-linea,
.caja-bloque {
    background-color: cornflowerblue;
    width: 500px;
    height: 250px;
    color: cornsilk;
    padding: 12px;
    border: solid medium green;
    margin: 32px;
}

/* propiedad Display
inline
block
inline-block - se comporta como un elemento de linea pero modificar sus dimensiones(ancho y alto)
none
table
list-item
flex 
grid
*/

.caja-bloque {
    margin: 32px;
    display: block;
}

.caja-linea {
    margin: 32px;
    display: inline;
}

.caja-none,
.caja-linea-bloque,
.caja-hidden {
    background-color: aquamarine;
    padding: 0px 16px;
    color: rgb(0, 0, 0);
    width: 600px;
    height: 300px;
    border: medium solid black;
}

.caja-linea-bloque {
    display: inline-block;
}

.caja-none {
    display: none;
}

/* propiedad visibility */

.caja-hidden {
    visibility: hidden;
    
}