* {
    font-family: 'Courier New', Courier, monospace;
}

.form-pseudoclases *:required {
     border-color: chartreuse;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.form-pseudoclases *:valid {
    border-color: brown;
}

.form-pseudoclases *:focus {
    background-color: crimson;
}

.form-pseudoclases *:disabled {
    background-color: rgb(29, 73, 0);
}

.menu-pseudoclases a:hover {
    color: darkkhaki;
}

.p-pseudoclases:hover {
    font-size: 18px;
}

.lista-pseudoclases li:first-child {
    color: darkred;
}

.lista-pseudoclases li:last-child {
    color: darkslateblue;
}

.lista-pseudoclases li:nth-child(5n){
    color: deeppink;
}

.lista-pseudoclases li:nth-child(4n){
    color: rgb(43, 20, 255);
    font-size: 18px;
}

.lista-pseudoclases li:nth-child(even){
    color: rgb(255, 161, 20);
    font-size: 18px;
}

.lista-pseudoclases li:nth-child(odd){
    color: rgb(255, 20, 20);
    font-size: 18px;
}

.articulo-pseudoclases * {
    background-color: rgb(78, 11, 75);
}

.articulo-pseudoclases p:not(.articulo-pseudoclases p:nth-of-type(2)) {
    background-color: dodgerblue;
}

.articulo-pseudoclases p:first-of-type {
    background-color: rgb(30, 76, 92);
}

.articulo-pseudoclases no:last-of-type {
    background-color: rgb(225, 0, 255);
}

.articulo-pseudoclases p:nth-of-type(3) {
    background-color: rgb(4, 0, 255);
}


/* Pseudoelemntos */

.serie-shippuden::before {
    content: "🦅" ;
}

.serie-shippuden::after {
    content: "🍖" ;
}

.serie-precio::before {
    content:"💲";
}

.serie-precio::after {
    content:"USD";
    font-weight: bold;
}

.p-pseudoelementos::first-letter {
    font-weight: bold;
    font-size: 32px;
}

.p-pseudoelementos::first-line {
    font-weight: bold;
    font-size: 32px;
    color: coral;
}

.p-pseudoelementos::selection {
    color: coral;
    background-color: darkgray;
}

.input-pseudoelementos::placeholder {
    color: coral;

}

/* agrupar selectores */
.form-agrupar-selectores input[type="text"],
.form-agrupar-selectores input[type="email"],
.form-agrupar-selectores textarea {
    border-color: darkgreen;
    border-width: 2px;
    background-color: darkmagenta;
    font-size: 20px;
    display: block;
    width: 300px;

}


